@font-face {
	font-family: 'Trade Gothic Next LT';
	src: url('../fonts/TradeGothicNextLTPro-HvCn.eot');
	src: url('../fonts/TradeGothicNextLTPro-HvCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TradeGothicNextLTPro-HvCn.woff2') format('woff2'),
		url('../fonts/TradeGothicNextLTPro-HvCn.woff') format('woff'),
		url('../fonts/TradeGothicNextLTPro-HvCn.ttf') format('truetype'),
		url('../fonts/TradeGothicNextLTPro-HvCn.svg#TradeGothicNextLTPro-HvCn') format('svg');
	font-weight: bold;
	font-style: normal;
}

body,
html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

body {
	margin-top: $navbar-height;
}

@media (max-width: $screen-xs-max) {
	.navbar-header {
		float: left;
	}
	.navbar-right {
		float: right;
		li {
			display: none;
			height: 45px;
		}
		.nav-link__btn {
			display: block;
		}
	}
	
	.navbar-nav {
		margin: 0;
		margin-top: 12px;
	}
	.navbar-btn {
		margin-bottom: 0;
		margin: 0;

		.btn {
			font-size: 10px;
			line-height: 10px;
			letter-spacing: .21px;
			padding: 12px 13px;

			-webkit-border-radius: 2.5px;
			   -moz-border-radius: 2.5px;
				  -ms-border-radius: 2.5px;
					 -o-border-radius: 2.5px;
					    border-radius: 2.5px;
		}
	}
}

.wrapper {
	@include container-fixed;
	@media (max-width: $screen-xs-max) {
		padding-left: 0;
		padding-right: 0;
	}
	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
	@media (min-width: $screen-xlg-min) {
		width: $container-xlg;
	}
}

header {
	h1 {
		margin-top: 0;
	}
}

a {
	-webkit-transition: all 200ms linear;
	   -moz-transition: all 200ms linear;
		  -ms-transition: all 200ms linear;
			 -o-transition: all 200ms linear;
			    transition: all 200ms linear;
}
.btn-primary {
	-webkit-transition: all 200ms linear;
	   -moz-transition: all 200ms linear;
		  -ms-transition: all 200ms linear;
			 -o-transition: all 200ms linear;
			    transition: all 200ms linear;
	&:hover {
		background-color: #383534;
		border-color: #383534;
		position: relative;
		bottom: 1px;
	}
}

.btn-nav {
	&:hover {
		bottom: 0;
	}
}

.alert-danger {
	font-size: 18px;
}