.band {
	display: block;
	clear: both;
	overflow: hidden;
}

	.band--tint {
		background-color: $tint;
	}

	.band--small {
		padding: 70px 0 45px;
	}

	.band--video {
		background-image: url(../images/video-bg.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		height: 231px;

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			background-image: url(../images/video-bg-sm.jpg);
			height: 462px;
		}
		@media (min-width: $screen-md-min) {
			background-image: url(../images/video-bg-xlg.jpg);
			height: 462px;
		}
	}

	.band--tech {

		@media only screen and (max-width: $screen-xs-max) {
			padding: 35px 0 47px;
			background-size: 180px auto;
			background-position: -86px 96px !important;
		}

		@media (max-width: $screen-sm-max) {
			overflow: hidden;
			background-image: url(../images/the-tech.png);
			background-repeat: no-repeat;
			background-position: -150px 185px;		
		}

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			padding: 70px 0 95px;
		}
	}

	.band--pricing {
		padding: 120px 0 90px;
		position: relative;

		@media(max-width: $screen-xs-max) {
			padding: 65px 0 23px;
		}

		&:before {
			background-image: url(../images/left-shoe.jpg);
			background-repeat: no-repeat;
			display: block;
			height: 460px;
			width: 274px;
			content: '';
			position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				left: -100px;
			}
			@media(max-width: $screen-sm-max) {
				display: none;
			}
		}
		&:after {
			background-image: url(../images/right-shoe.jpg);
			background-repeat: no-repeat;
			display: block;
			height: 460px;
			width: 274px;
			content: '';
			position: absolute;
    	top: 50%;
			right: 0;
    	transform: translateY(-50%);

			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				right: -100px;
			}
			@media(max-width: $screen-sm-max) {
				display: none;
			}
		}
	}

	.band--padded {
		@media (min-width: $screen-md-min) {
			margin: $section-margin 0;
		}
	}

	.band__headline {
		margin-top: 0;
		margin-bottom: 55px;
	}

	.band--light {
		background: #ECECEC;
	}

	.band__headline--tech {
		@media (max-width: $screen-xs-max) {
			font-size: 36px;
			line-height: 37px;
		}
		@media (max-width: $screen-md-max) {
			text-align: center;
		}

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			font-size: 73px;
			line-height: 74px;
		}
	}

	.band__headline--pricing {
		@media(max-width: $screen-xs-max) {
			font-size: 36px;
			line-height: 27px;
			letter-spacing: .16px;
			margin-bottom: 25px;
		}
	}
	.band__subheadline--pricing {
		max-width: 500px;
		margin: 0 auto 105px;
		line-height: 41px;
		letter-spacing: .19px;

		span {
			color: $brand-primary;
		}

		@media(max-width: $screen-xs-max) {
			font-size: 24px;
			line-height: 23px;
			letter-spacing: .10px;
			margin-bottom: 50px;
			max-width: 280px;
		}
	}
