.page-head {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-position: top left;

	width: 100%;
	text-align: center;

	@media (max-width: $screen-sm-max) {
			height: 725px;
	}

	@media (min-width: $screen-md-min) {
		background-image: url(../images/header-xlg.jpg);
		background-position: bottom -20px left -175px;
		height: 500px;
		text-align: left;
	}
	@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
		background-position: top left -100px;
		height: 595px;
	}
	@media (min-width: $screen-xlg-min){
		background-position: top left;
		height: 595px;
	}

	@media only screen and (max-width: $screen-xs-max) {
		height: 362px;
		background-size: auto 101%;
	}
	@media only screen
		and (-webkit-min-device-pixel-ratio: 1)
		and (max-width: $screen-xs-max) {
			background-size: 100%;
			background-position: center center;
		}
}

	.page-head__headline {
		font-size: 60px;
		line-height: 47px;
		letter-spacing: .26px;
		color: #fff;

		margin-bottom: 77px;

		@media (min-width: $screen-sm-min) and ( max-width: $screen-sm-max) {
			font-size: 121px;
    	line-height: 96px;
    	letter-spacing: .53px;

    	margin-bottom: 154px;
		}

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
			font-size: 80px;
			line-height: 70px;

			margin-bottom: 45px;
		}
		@media (min-width: $screen-lg-min) {
			font-size: 101px;
			line-height: 80px;
			letter-spacing: .44px;

			margin-bottom: 45px;
		}
	}

	.page-head__subheadline {
		max-width: 400px;
		letter-spacing: -.33px;
		line-height: 1;

		margin-bottom: 45px;

		@media only screen and (max-width: $screen-xs-max) {
			font-size: 24px;
			line-height: 20px;
			letter-spacing: -.25px;
			max-width: 287px;
		}

		@media (max-width: $screen-sm-max) {
			margin-left: auto;
			margin-right: auto;
			color: #fff;
		}

		@media (min-width: $screen-sm-min) and ( max-width: $screen-sm-max) {
			font-size: 48px;
			line-height: 40px;
			letter-spacing: -.49px;
			max-width: 576px;
		}
	}

	.page-head__button {
		@media (min-width: $screen-sm-min) and ( max-width: $screen-sm-max) {
			position: absolute;
			bottom: -55px;
			left: 50%;
			z-index: 5;

			font-size: 38px;
			line-height: 48px;
			letter-spacing: .36px;

			padding: 30px 38px;

			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
				  -ms-transform: translateX(-50%);
					 -o-transform: translateX(-50%);
					    transform: translateX(-50%);

			&:hover {
				bottom: -55px !important;
				position: absolute !important;
			}
		}
		@media (max-width: $screen-xs-max) {
			position: absolute;

			bottom: -28px;
			left: 50%;
			z-index: 5;

			font-size: 19px;
			line-height: 24px;
			letter-spacing: .18px;

			padding: 15px 19px;

			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
				  -ms-transform: translateX(-50%);
					 -o-transform: translateX(-50%);
					    transform: translateX(-50%);

			&:hover {
				bottom: -28px !important;
				position: absolute !important;
			}
			
		}
	}
